*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' ;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

header{
    background-color: rgb(67, 28, 28);
    font-family: 'briem hand';
    color: #fff;

}

body{
    background-color: rgb(246, 233, 218);
    
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
}

header h1{
    padding-bottom: 0;
    font-family: 'briem hand';
    
}


.menu li{
    display: inline;
    list-style: none;
    font-size: 24px;
    font-family: "Roboto";
    color: rgb(67, 28, 28);
}

.menu li a{
    color: #fff;
    font-family: "Roboto";
    text-decoration: none;
    padding: 0 10px;

}

.sobre > .container{
    max-width: 85%;
    display:flex;
    justify-content: center;
    padding: 35px;
}

.sobre img{
    width: 400px;

}

.descritivo{
    font-family: 'roboto';
    padding: 25px;
    padding-top: 0;
    width: 100%;
}


.produto img{
    max-width: 95%;
}

.todos-produtos .container{
    padding: 45px 0;
}

.todos-produtos h2,
.descritivo h2{
    font-size: 35px;
    color: rgb(67, 28, 28);
    border-bottom: 2px solid rgb(67, 28, 28);

}

.produto{
    color: rgb(67, 28, 28);
}

.produtos{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, 24.5%);
    column-gap: 1%;
    row-gap: 5%;
}

button{
    background-color: rgb(67, 28, 28);
    color:#fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    width: 95%;
}

@media screen and (min-width:641px) and (max-width:1023px){
    .container{
        max-width: 90%;
    }

    .descritivo h2{
        font-size: 25px;
    }

    .sobre > .container{
        display:block   
    }

    .sobre img{
        width: 100%;
    
    }
    .produtos{
        grid-template-columns: repeat(2, 49%);
    }

} 

@media screen and (max-width:641px){
    
    .container{
        max-width: 90%;
    }
    
    .produtos{
        display: block;
    }

    .sobre > .container{
        display:block
    }



}